<section class="section  about">
    <div class="container">
      <div class="section__inner">
        <div class="section__left">
          <!-- @include('slider.html') -->
        </div>
        <div class="section__right">
          <h1 class="title">о нас</h1>
          <ul class="list-reset text">
            <li>Шишкин парк это:</li>
            <li>-8 Безопасных горк для любого возраста</li>
            <li>-250 тюбингов</li>
            <li>-Удобная навигация внутри парка</li>
            <li>-Тир для каждого</li>
            <li>-Теплое кафе</li>
            <li>-Приятная сопровождающая музыка</li>
            <li>-Большущая мангальная зона</li>
            <li>-Огромная бесплатная парковка</li>
            <li>-Подъемник, чтобы не&nbsp;пешком в&nbsp;гору!</li>
            <li>-Вечером вас ждет 800 ярких огоньков</li>
            <li>-снегоход с&nbsp;турбо-бананом</li>
          </ul>
        </div>
      </div>
    </div>
</section>
