<div class="faq" id="faq">
  <div class="container">
    <button class="btn-reset centered faq__btn modal__open">часто задаваемые вопросы</button>
  </div>
  <div class="modal">
    <div class="overlay">
      <button class="btn-reset menu__btn menu__btn--close modal__close">
        <span class="menu__line menu__line--close"></span>
      </button>
      <div class="modal-content">
        <div class="faqs">
            <div class="faq__item">
              <h3 class="title centered modal__title">Часто задаваемые вопросы</h3>
              <h4 class="faq__title centered">Со&nbsp;скольки лет можно кататься на&nbsp;горках?</h4>
              <p class="modal__text">
                На&nbsp;территории Парка есть горки для детей от&nbsp;4&nbsp;лет. Так&nbsp;же есть горка малютка, где могут кататься дети и&nbsp;до&nbsp;4&nbsp;лет, но&nbsp;только вместе со&nbsp;взрослыми. С&nbsp;14&nbsp;лет можно кататься на&nbsp;взрослых горках самостоятельно. На&nbsp;экстремальных только с&nbsp;18&nbsp;лет
              </p>
            </div>
            <div class="faq__item">
              <h4 class="faq__title centered">Со&nbsp;скольки лет можно кататься на&nbsp;горках?</h4>
              <p class="modal__text">
                На&nbsp;территории Парка есть горки для детей от&nbsp;4&nbsp;лет. Так&nbsp;же есть горка малютка, где могут кататься дети и&nbsp;до&nbsp;4&nbsp;лет, но&nbsp;только вместе со&nbsp;взрослыми. С&nbsp;14&nbsp;лет можно кататься на&nbsp;взрослых горках самостоятельно. На&nbsp;экстремальных только с&nbsp;18&nbsp;лет
              </p>
            </div>
            <div class="faq__item">
              <h4 class="faq__title centered">Со&nbsp;скольки лет можно кататься на&nbsp;горках?</h4>
              <p class="modal__text">
                На&nbsp;территории Парка есть горки для детей от&nbsp;4&nbsp;лет. Так&nbsp;же есть горка малютка, где могут кататься дети и&nbsp;до&nbsp;4&nbsp;лет, но&nbsp;только вместе со&nbsp;взрослыми. С&nbsp;14&nbsp;лет можно кататься на&nbsp;взрослых горках самостоятельно. На&nbsp;экстремальных только с&nbsp;18&nbsp;лет
              </p>
            </div>
            <div class="faq__item">
              <h4 class="faq__title centered">Со&nbsp;скольки лет можно кататься на&nbsp;горках?</h4>
              <p class="modal__text">
                На&nbsp;территории Парка есть горки для детей от&nbsp;4&nbsp;лет. Так&nbsp;же есть горка малютка, где могут кататься дети и&nbsp;до&nbsp;4&nbsp;лет, но&nbsp;только вместе со&nbsp;взрослыми. С&nbsp;14&nbsp;лет можно кататься на&nbsp;взрослых горках самостоятельно. На&nbsp;экстремальных только с&nbsp;18&nbsp;лет
              </p>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
