<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="/" class="logo">
        <img src="img/logo-park.png" alt="logotip" class="logo__img">
      </a>
      <div class="footer__content" id="contacts">
        <ul class="list-reset">
          <li class="footer__title">Контакты</li>
          <li>
            <a href="https://vk.com/shishkinpark" target="_blank">Vk</a>
          </li>
        </ul>
        <ul class="list-reset">
          <li class="footer__title">Контакты</li>
          <li>
            <a href="https://vk.com/shishkinpark" target="_blank">Vk</a>
          </li>
        </ul>
        <ul class="list-reset">
          <li class="footer__title">Контакты</li>
          <li>
            <a href="https://vk.com/shishkinpark" target="_blank">Vk</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="copy">Шишкин Парк &copy;</div>
      <div class="footer__text">все права зарегистрированы</div>
    </div>
  </div>
</footer>
