<nav class="menu">
  <div class="overlay">
    <button class="btn-reset menu__btn menu__btn--close">
      <span class="menu__line menu__line--close"></span>
    </button>
    <ul class="list-reset menu__list">
      <li class="menu__item"><a href="/" class="menu__link">главная</a></li>
      <li class="menu__item"><a href="#" class="menu__link">О нас</a></li>
      <li class="menu__item"> <a href="#" class="menu__link">где мы находимся?</a></li>
      <li class="menu__item"><a href="#" class="menu__link">развлечения и услуги</a></li>
      <li class="menu__item"><a href="#" class="menu__link">часто задаваемые вопросы</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
    </ul>
  </div>
  <button class="btn-reset menu__btn menu__btn--open">
    <span class="menu__line menu__line--open"></span>
  </button>
</nav>
