<section class="section  location">
  <div class="container">
    <div class="section__inner">
      <div class="section__left">
        @include('slider.html')
      </div>
      <div class="section__right">
        <h2 class="title">где мы находимся?</h2>
        <ul class="list-reset text">
          <li>Ульновская область</li>
          <li>г. Димитровград</li>
          <li>Мулловском шоссе напротив магазина &laquo;Транзит&raquo;</li>
        </ul>
        <ul class="list-reset text">
          <li>Новый парк есть уже в&nbsp;твоем навигаторе!</li>
          <li>просто вбей&nbsp;&mdash; Шишкин парк Димитровград</li>
        </ul>
        <ul class="list-reset text">
          <li>Шишкин парк работает</li>
          <li>-с 1&nbsp;по&nbsp;10&nbsp;января!</li>
          <li>-а Так&nbsp;же, все остальные выходные и&nbsp;праздники!</li>
          <li>Вплоть до&nbsp;8&nbsp;марта!</li>
          <li>Время работы парка с&nbsp;10:00 до&nbsp;21:00</li>
        </ul>
      </div>

    </div>
  </div>
</section>
