<section class="section services" id="services">
  <div class="container">
    <div class="section__inner">
      <div class="section__right">
        <h2 class="title services__title">развлечения и&nbsp;полезные услуги</h2>
      </div>
      <div class="section__left">
        <div class="services__inner">
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
          <div class="services__item">
            <img src="#" alt="services" class="services__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
